:root {
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-brand-light: #819B57;
    --color-brand-dark: #465929;
}

/*Base*/
body {
    color: var(--color-brand-dark);
}
ul {
    list-style-type: none;
}

/*Botton*/
.button {
    color: var(--color-primary-light);
    background: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    cursor: pointer;
}
.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent; 
}
.button:focus { 
    background-color: gold;
}

/*link*/
.link {
    color: var(--color-primary-light);
}
.link:hover {
    color: var(--color-brand-light);
}
/*Hero section*/
.herro-title {
    color: var(--color-primary-light);
}
.herro-title .accent {
    color: var(--color-brand-light);
}

/*Adventages section*/
.adventages-list {
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
}
.section-title .accent {
    color: var(--color-brand-dark);
}